@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

a {
  text-decoration: none;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #65524D;
    text-decoration: none;
}

img {
  object-fit: cover;
}

#title_outer {
    background-color: #DDCA7D;
    border-left: solid 2rem #57886C;
    border-right: solid 2rem #57886C;
}

#title {
    text-align: center;
    font-size: 280%;
    text-decoration: none;
    border-top: solid 1rem #57886C;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#frontpage_image_outer{
  height: 30rem;
  width: 100%;
  padding-bottom: 2rem;
  overflow: hidden;
  position: relative;
}

#frontpage-image {
  height: 30rem;
  width: 100%;
  background: url(../Images/normandy-gf8a60079f_1280.jpg) no-repeat center center;
}

#nav_menu {
    font-size: 110%;
    letter-spacing: 1rem;
    text-align: center;
    border-left: solid 3rem #57886C;
    border-right: solid 3rem #57886C;
    border-top: solid 1rem #57886C;
}

#nav_menu, #title {
    line-height: 3rem;
}

#nav_menu li {
  text-align: center;
  list-style-type: none;
  display: inline;
  color: #65524D;
}

#nav_menu a {
  color: inherit;
}

.active {
  text-decoration: underline;
}

#battle_summary_outer {
  height: 22rem;
  border-left: solid 3rem #57886C;
  border-right: solid 3rem #57886C;
  border-top: solid 1rem #57886C;
  padding: 5% 5% 5% 5%;
  margin: auto;
}

.text_left {
  width: 55%;
  float: left;
}

.picture_right_outer {
  display: inline;
  width: 30%;
  height: 75%;
  float: right;
}
.picture_right {
  max-width: 100%;
  max-height: 100%;
}

#participants {
  height: 22rem;
  border-left: solid 3rem #57886C;
  border-right: solid 3rem #57886C;
  border-top: solid 1rem #57886C;
  padding: 5% 5% 5% 5%;
  margin: auto;
  background-color: #DDCA7D;
}

.picture_left_outer {
  width: 30%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.picture_left {
  max-width: 100%;
  max-height: 100%;
}

.text_right {
  width: 55%;
  float: right;
}

#video_section {
  height: 20rem;
  border-left: solid 3rem #57886C;
  border-right: solid 3rem #57886C;
  border-top: solid 1rem #57886C;
  margin: auto;
  padding: 5% 5% 5% 5%;
}

#video_text_left {
  width: 50%;
  float: left;
}


#video_outer iframe {
  display: inline;
}

#timeline_section_a {
  height: 24rem;
  border-left: solid 3rem #57886C;
  border-right: solid 3rem #57886C;
  border-top: solid 1rem #57886C;
  padding: 3% 3% 3% 3%;
}

#timeline_section_b {
  height: 24rem;
  border-left: solid 3rem #57886C;
  border-right: solid 3rem #57886C;
  border-top: solid 1rem #57886C;
  padding: 3% 3% 3% 3%;
  background-color: #DDCA7D;
}

#timeline_section_c {
  height: 24rem;
  border-left: solid 3rem #57886C;
  border-right: solid 3rem #57886C;
  border-top: solid 1rem #57886C;
  padding: 3% 3% 3% 3%;
}

#timeline_section_d {
  height: 24rem;
  border-left: solid 3rem #57886C;
  border-right: solid 3rem #57886C;
  border-top: solid 1rem #57886C;
  padding: 3% 3% 3% 3%;
  background-color: #DDCA7D;
}

#gallery_section_a {
height: 24rem;
border-left: solid 3rem #57886C;
border-right: solid 3rem #57886C;
border-top: solid 1rem #57886C;
padding: 3% 3% 3% 3%;
}

#gallery_section_b {
  height: 24rem;
  border-left: solid 3rem #57886C;
  border-right: solid 3rem #57886C;
  border-top: solid 1rem #57886C;
  padding: 3% 3% 3% 3%;
  background-color: #DDCA7D;
  }

#gallery_section_c {
  height: 24rem;
  border-left: solid 3rem #57886C;
  border-right: solid 3rem #57886C;
  border-top: solid 1rem #57886C;
  padding: 3% 3% 3% 3%;
}

#gallery_section_d {
  height: 24rem;
  border-left: solid 3rem #57886C;
  border-right: solid 3rem #57886C;
  border-top: solid 1rem #57886C;
  padding: 3% 3% 3% 3%;
  background-color: #DDCA7D;
}

.gallery_left_outer {
  width: 45%;
  height: 100%;
  float: left;
  overflow: hidden;
}
  
.gallery_left {
  max-width: 100%;
  max-height: 100%;
}

.gallery_right_outer {
  display: inline;
  width: 45%;
  height: 100%;
  float: right;
}
.gallery_right {
  max-width: 100%;
  max-height: 100%;
}

footer {
  height: 4rem;
  border-left: solid 3rem #57886C;
  border-right: solid 3rem #57886C;
  border-bottom: solid 2rem #57886C;
}

.social_networks {
  text-align: center;
  background-color: #57886C;
}

.social_networks > li {
  display: inline;
}

.social_networks i {
  font-size: 160%;
  margin: 1%;
  padding: 1rem 1rem 1rem 1rem;    
  color: #65524D;
}

@media screen and (max-width: 1400px) {
  #battle_summary_outer, #participants, #timeline_section_a, #timeline_section_b, #timeline_section_c, #timeline_section_d, #video_section {
    height: 30rem;
    border-left: solid 1rem #57886C;
    border-right: solid 1rem #57886C;
  }

  #gallery_section_a, #gallery_section_b, #gallery_section_c, #gallery_section_d {
    height: 30rem;
    border-left: solid 1rem #57886C;
    border-right: solid 1rem #57886C;
  }
}

@media screen and (max-width: 1200px) {
  #battle_summary_outer, #participants, #timeline_section_a, #timeline_section_b, #timeline_section_c, #timeline_section_d, #video_section {
    height: 55rem;
    border-left: solid 1rem #57886C;
    border-right: solid 1rem #57886C;
  }

  #gallery_section_a, #gallery_section_b, #gallery_section_c, #gallery_section_d {
    height: 55rem;
    border-left: solid 1rem #57886C;
    border-right: solid 1rem #57886C;
  }

  #nav_menu li {
  clear: both;
  }

  .text_right, .text_left {
    width: inherit;
    float: left;
    padding: 0;
  }

  .text_right{
  padding-top: 1%;
  }

  .picture_left_outer, .picture_right_outer {
  width: 60%;
  height: 40%;
  float: left;
  padding: 0;
  }

  .picture_right_outer{
  padding-top: 4%;
  }

  .picture_left, .picture_right {
  width: 100%;
  height: auto;
  float: left;
  padding: 0;
  }

  .gallery_left_outer, .gallery_right_outer {
    width: 60%;
    height: 50%;
    float: left;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    .gallery_right_outer {
    padding-top: 1%;
    }
  
    .gallery_left, .gallery_right {
    width: 100%;
    float: left;
    padding: 0;
    }

  .gallery_right_outer{
    padding-top: 0;
  }

  #video_section {
    height: 600px;
  }

  #video_text_left {
  width: 95%;
  clear: both;
  }

  #video_outer iframe {
  border: 0;
  width: 95%;
  height: 95%;
  left: 0
  }
}

@media screen and (max-width: 1100px) {
  #battle_summary_outer, #participants, #timeline_section_a, #timeline_section_b, #timeline_section_c, #timeline_section_d, #video_section{
    height: 55rem;
    border-left: solid 1rem #57886C;
    border-right: solid 1rem #57886C;
  }

  #gallery_section_a, #gallery_section_b, #gallery_section_c, #gallery_section_d {
    border-left: solid 1rem #57886C;
    border-right: solid 1rem #57886C;
  }
}  

@media screen and (max-width: 900px) {
  #battle_summary_outer, #participants, #timeline_section_a, #timeline_section_b, #timeline_section_c, #timeline_section_d, #video_section {
    height: 57rem;
    border-left: 0;
    border-right: 0;
  }

  #gallery_section_a, #gallery_section_b, #gallery_section_c, #gallery_section_d {
    border-left: solid 1rem #57886C;
    border-right: solid 1rem #57886C;
  }

  .picture_left_outer, .picture_right_outer {
    width: 70%;
    height: auto;
    }
  
  .gallery_left_outer, .gallery_right_outer {
    width: 70%;
    height: auto;
    }
}

@media screen and (max-width: 450px) {
  #title_outer {
    border-left: 0;
    border-right: 0;
  }

  #title {
    border-top: 0;
  }

  #nav_menu {
    border-left: 0;
    border-right: 0;
    border-bottom: solid 1rem #57886C;
    font-size: 80%;
    letter-spacing: 0.5rem;
  }

  #battle_summary_outer, #participants, #timeline_section_a, #timeline_section_b, #timeline_section_c, #timeline_section_d, #video_section{
    height: 65rem;
    background-color: #DDCA7D;
    border-top: 0;
  }

  #gallery_section_a, #gallery_section_b, #gallery_section_c, #gallery_section_d {
    height: 30rem;
    background-color: #DDCA7D;
    border-top: 0;
  }

  .picture_left_outer, .picture_right_outer {
    width: 60%;
    height: auto;
    }

  .gallery_left_outer, .gallery_right_outer {
    width: 60%;
    height: auto;
    }
}