@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

a {
  text-decoration: none;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #65524D;
    text-decoration: none;
}

#title_outer {
    background-color: #DDCA7D;
    border-left: solid 30px #57886C;
    border-right: solid 30px #57886C;
}

#title {
    text-align: center;
    font-size: 280%;
    text-decoration: none;
    border-left: solid 30px #57886C;
    border-right: solid 30px #57886C;
    border-top: solid 10px #57886C;
}

#frontpage_image_outer{
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#frontpage-image {
  height: 600px;
  width: 100%;
  background: url(../Images/normandy-gf8a60079f_1280.jpg) no-repeat center center;
}

#nav_menu {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
    border-left: solid 30px #57886C;
    border-right: solid 30px #57886C;
}

#nav_menu, #title {
    line-height: 75px;
}

#nav_menu li {
  text-align: center;
  list-style-type: none;
  margin-right: 30px;
  display: inline;
  color: #65524D;
}

#nav_menu a {
  color: inherit;
}

.active {
  text-decoration: underline;
}

#battle_summary_outer {
  height: 300px;
  border-left: solid 60px #57886C;
  border-right: solid 60px #57886C;
  border-top: solid 10px #57886C;
  padding: 5% 5% 5% 5%;
  margin: auto;
}

.text_left {
  width: 60%;
  float: left;
}

.picture_right_outer {
  display: inline;
  width: 30%;
}
.picture_right {
  float: right;
}

#participants {
  height: 300px;
  border-left: solid 60px #57886C;
  border-right: solid 60px #57886C;
  border-top: solid 10px #57886C;
  padding: 5% 5% 5% 5%;
  margin: auto;
  background-color: #DDCA7D;
}

.picture_left_outer {
  width: 30%;
}

.picture_left {
}

.text_right {
  width: 60%;
  float: right;
  position: relative;
  top: -100%;
}

#video_section {
  height: 800px;
  border-left: solid 60px #57886C;
  border-right: solid 60px #57886C;
  border-top: solid 10px #57886C;
  margin: auto;
  padding: 5% 5% 5% 5%;
}

#video_text_left {
  width: 50%;
  float: left;
}


#video_outer iframe {
  display: inline;
}

footer {
  height: 40px;
}

.social_networks {
  text-align: center;
  background-color: #57886C;
}

.social_networks > li {
  display: inline;
}

.social_networks i {
  font-size: 160%;
  margin: 1%;
  padding: 1em 1em 1em 1em;    
  color: #65524D;
}

@media screen and (max-width: 1200px) {

}